/* Variables */

:root {
	--backgroundColor: #000000; 	/*black*/
	--white: #FFFFFF;				/*white*/
	--whiteOpacity: 255, 255, 255;  /*for hover white opacity */				
	--vibrantOrange: #ff4d00;
	--easyOrange: #ff6929;
	--subtleOrangeBlack: #130c08;
}

/* GENERAL STYLES */


body {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	background-color: var(--backgroundColor);
	color: var(--white);
	line-height: 1.5;
	letter-spacing: .05em;
}

a,
a:hover,
a:visited {
	text-decoration: none;
	color: var(--white);
}


/* FILTER STYLES  */ 

.filter-wrapper {
	display: flex;
	flex-direction: row;
	width: 99vw;
	justify-content: space-evenly;
}

.filter-buttons {
	width: 20vw;
	display: flex;
	flex-direction: column;
	position: sticky; /* since the wrapper (parent) element uses flexbox, this only works because i wrapped it in a div (without style) */
	top: 20px;
	left: ;
	margin-right: ;
}

.filter-content {
	width: 80vw;
	height: auto;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	padding: 1vh 1vw;
	margin-left: ;
}

#AllButton::after {
	content:'All';
	color: white;
	padding-left: 20px;
}
#BlackButton::after {
	content:'Black';
	color: white;
	padding-left: 20px;
}
#BrutalButton::after {
	content:'Brutal/Slam';
	color: white;
	padding-left: 20px;
}
#DeathButton::after {
	content:'Death';
	color: white;
	padding-left: 20px;
}
#DjentButton::after {
	content:'Djent';
	color: white;
	padding-left: 20px;
}
#DoomButton::after {
	content:'Doom';
	color: white;
	padding-left: 20px;
}
#FolkButton::after {
	content:'Folk';
	color: white;
	padding-left: 20px;
}
#ElectroButton::after {
	content:'Electro';
	color: white;
	padding-left: 20px;
}
#HeavyButton::after {
	content:'Heavy';
	color: white;
	padding-left: 20px;
}
#MelodicButton::after {
	content:'Melodic';
	color: white;
	padding-left: 20px;
}
#ProgressiveButton::after {
	content:'Progressive';
	color: white;
	padding-left: 20px;
}
#SludgeButton::after {
	content:'Sludge';
	color: white;
	padding-left: 20px;
}
#SymphonicButton::after {
	content:'Symphonic';
	color: white;
	padding-left: 20px;
}
#TechnicalButton::after {
	content:'Technical';
	color: white;
	padding-left: 20px;
}
#ThrashButton::after {
	content:'Thrash';
	color: white;
	padding-left: 20px;
}
#VikingButton::after {
	content:'Viking';
	color: white;
	padding-left: 20px;
}


/* BAND VISIBILITY */

.band-content-visible {
	color: white;
	width: 30vw;
	border: 1px solid var(--white);
	margin: 1vw 1vh;
	padding: 2em;
	display: block;
}

.band-content-hidden {
	color: white;
	width: 30vw;
	border: 1px solid var(--white);
	margin: 1vw 1vh;
	padding: 2em;
	display: none;
}


/* BAND CARD LAYOUT */

.band-card-container {
	width: 33vw;
	min-width: 300px;
	height: auto;
	border: 1px solid var(--white);
	border-radius: 20px;
	padding: 1em;
	margin-bottom: 2em;
	background-color: var(--subtleOrangeBlack);
}

.band-card-name {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	font-size: 2em;
	font-weight: 700px;
}

.band-card-name img {
	max-width: 50%;
}

.band-card-tags {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 2em;
}

.band-card-tags > div {
	background-color: var(--vibrantOrange);
	border-radius: 20px;
	padding: .5em .75em;
	margin: .5em;
}

.band-card-description a {
	color: var(--vibrantOrange);
}

